---
// Code toggle component - shows a checkbox to expand/collapse all code blocks
// Persists state to localStorage
import { CodeToggle as CodeToggleReact } from './CodeToggle';
---

<div class="inline-block">
  <CodeToggleReact client:idle />
</div>
